<div class="menuCpl">
  <div class="header">
    <div class="logo" (click)="changMenu()">
      <img style="height: 50px;" [src]="logoImg||'./assets/images/logo/logo.png'" alt="">
    </div>
    <div class="topMenu">
      <ul class="leftUrl" *ngIf="menuLocation">
        <li *ngFor="let item of menu let i=index"
            [ngClass]="{active:item.active,show:item.show,noChild:!item.children.length}">
          <h2 (click)="bigMenuTop(item)">
            <span>{{item.name}}</span>
            <i *ngIf="item.children.length"
               class="icon iconfont icon-packup"></i>
            <i *ngIf="item.children.length" class=""
               class="icon iconfont icon-unfold"></i>
          </h2>
          <ul class="child" *ngIf="childrenShowKey">
            <li *ngFor="let child of item.children let j=index" (click)="goMenuTop(child)"
                [ngClass]="{active:child.active}">
              <span>{{child.name}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="right">
      <nz-dropdown>
        <a class="ant-dropdown-link" nz-dropdown>
          {{userName}}
          <i class="anticon anticon-down"></i>
        </a>
        <ul nz-menu>
          <li *ngFor="let item of rightDown let i=index" nz-menu-item
              (click)="downChange(item)">
            <span>{{item.label}}</span>
          </li>
        </ul>
      </nz-dropdown>
    </div>

  </div>
  <ul class="leftMenu" *ngIf="!menuLocation">
    <li *ngFor="let item of menu let i=index"
        [ngClass]="{active:item.active,show:item.show,noChild:!item.children.length}">
      <h2 (click)="bigMenu(item)">{{item.name}}
        <i *ngIf="item.children.length" [ngClass]="{'icon-packup':item.show,'icon-unfold':!item.show}"
           class="icon iconfont"></i>
      </h2>

      <ul class="child" [ngStyle]="{height:item.show?item.children.length*34+'px':'0'}">
        <li *ngFor="let child of item.children let j=index" (click)="goMenu(child)"
            [ngClass]="{active:child.active}">
          <span>{{child.name}}</span>
        </li>
      </ul>
    </li>
  </ul>
  <div class="mainBox" [ngClass]="{menuTopBox:menuLocation}">
    <router-outlet></router-outlet>
  </div>
</div>

