<div class="loginCmp">
  <div>
    <div class="logo">
      <img style=" height: 60px;"
           [src]="logoImg" alt="">
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form"
          (ngSubmit)="_login()">
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="userName" [nzPlaceHolder]="'登录名'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain
               *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">
            请输入登录名！
          </div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain
               *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">
            请输入密码！
          </div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>记住密码</span>
          </label>
          <a class="login-form-forgot" class="login-form-forgot">忘记密码</a>
          <button [nzLoading]="loading" nz-button class="login-form-button" [nzType]="'primary'"
                  [nzSize]="'large'">
            <i class="anticon anticon-poweroff"></i>
            登录
          </button>
          <a href="">注册!</a>
        </div>
      </div>
    </form>


    <!--<div class="logo">
      <img style=" height: 60px;"
           [src]="logoImg" alt="">
    </div>
    <div class="mainC">
      <div class="inpu">
        <nz-input [(ngModel)]="login.loginName"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <div class="inpu">
        <nz-input [(ngModel)]="login.password"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <button (click)="onLogin()" nz-button nzType="primary">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
    </div>-->
  </div>
</div>
