<div class="loginCmp">
  <div>
    <div class="logo">
      <img style=" height: 60px;"
           [src]="logoImg" alt="">
    </div>
    <div class="mainC">
      <div class="inpu">
        <nz-input [(ngModel)]="login.loginName"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <div class="inpu">
        <nz-input [(ngModel)]="login.password"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <button (click)="onLogin()" nz-button nzType="primary">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
    </div>
  </div>
</div>
