<div class="ticketAdd viewBox">
  <div class="zwSearch">
    <div class="right" >
      <button (click)="save()" nz-button nzType="primary">保存</button>
      <button (click)="print()" nz-button nzType="primary">打印页面</button>
      <nz-popconfirm [nzTitle]="'确定提交后，如果厂家开始生产，修改麻烦，是否确定？'" [nzOkText]="'确定'"
                     [nzCancelText]="'取消'"
                     (nzOnConfirm)="saveState()">
        <button nz-popconfirm  *ngIf="ticket.state==200&&ticket.id"
                (click)="saveState()" nz-button nzType="primary">提交订单</button>
      </nz-popconfirm>


    </div>
  </div>
  <div class="tableBox viewMain">
    <table cellspacing="0">
      <tr>
        <td colspan="2" style="width: 100px !important;">经销商</td>
        <td>{{dealersName}}</td>

        <td>品牌名称</td>
        <td>
          <nz-select [(ngModel)]="ticket.brandId"
                     [nzPlaceHolder]="'请选择'" nzAllowClear>
            <nz-option *ngFor="let item of brandList"
                       [nzLabel]="item.name"
                       [nzValue]="item.id">
            </nz-option>
          </nz-select>
        </td>

        <td>订单编号</td>
        <td colspan="5">
          {{ticket.name}}
        </td>
      </tr>
      <tr>
        <td colspan="2"  style="width: 100px;">收货地址</td>
        <td colspan="3">
          <nz-input [(ngModel)]="ticket.address" [nzSize]="'large'" placeholder="请输入"></nz-input>
        </td>

        <td>订货日期</td>
        <td colspan="2">
          <nz-datepicker *ngIf="changeDate" [(ngModel)]="ticket.startTime"
                         [nzFormat]="'YYYY年MM月DD日'"
                         [nzPlaceHolder]="'请选择'">
          </nz-datepicker>

        </td>
        <td>交货日期</td>
        <td colspan="2">
          <nz-datepicker *ngIf="changeDate" [(ngModel)]="ticket.endTime"
                         [nzFormat]="'YYYY年MM月DD日'"
                         [nzPlaceHolder]="'请选择'">
          </nz-datepicker>
        </td>
      </tr>
      <tr>
        <td rowspan="2" style="width: 60px;">序号</td>
        <td rowspan="2" style="width: 160px;">型号</td>

        <td>洞口尺寸</td>
        <td>门扇尺寸</td>

        <td rowspan="2">立板尺寸</td>
        <td rowspan="2">顶板尺寸</td>
        <td rowspan="2">颜色</td>
        <td rowspan="2">线条款式</td>
        <td rowspan="2">线条数量</td>
        <td rowspan="2">
          <div class="bzBox">备注</div>
        </td>
        <td rowspan="2" style="width: 150px;">
          操作
          <button (click)="addDoor()" nz-button nzType="primary">
            <i class="anticon anticon-plus"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="s30">
          <div>
            <span>高</span>
            <span>宽</span>
            <span>厚</span>
          </div>
        </td>
        <td class="s50">
          <span>高</span>
          <span>宽</span>
        </td>
      </tr>
      <tr *ngFor="let item of productList let i=index">
        <td>{{i+1}}</td>
        <td class="doorName">
          <nz-select [(ngModel)]="item.doorId" (modelChange)="doorChange($event,item)"
                     [nzPlaceHolder]="'请选择'" nzAllowClear>
            <nz-option *ngFor="let item of doorList"
                       [nzLabel]="item.name"
                       [nzValue]="item.id">
            </nz-option>
          </nz-select>
          <img *ngIf="item.doorImg&&showImg" style="width: 50px;" [src]="item.doorImg" alt="">
        </td>
        <td class="input3">
          <input type="number" [(ngModel)]="item.coverWidth" placeholder="">
          *
          <input type="number" [(ngModel)]="item.coverHeight" placeholder="">
          *
          <input type="number" [(ngModel)]="item.coverDepth" placeholder="">
        </td>
        <td class="input3">
          <input type="number" [(ngModel)]="item.width" placeholder="">
          *
          <input type="number" [(ngModel)]="item.height" placeholder="">
          =
          <input type="number" [(ngModel)]="item.sum" placeholder="">
        </td>
        <td class="input3">
          <input type="number" [(ngModel)]="item.lbWidth" placeholder="">
          *
          <input type="number" [(ngModel)]="item.lbHeight" placeholder="">
          =
          <input type="number" [(ngModel)]="item.lbSum" (ngModelChange)="sumChange()" placeholder="">
        </td>
        <td class="input3">
          <input type="number" [(ngModel)]="item.dbWidth" placeholder="">
          *
          <input type="number" [(ngModel)]="item.dbHeight" placeholder="">
          =
          <input type="number" [(ngModel)]="item.dbSum" (ngModelChange)="sumChange()" placeholder="">
        </td>
        <td>
          <nz-select [(ngModel)]="item.colorId" (modelChange)="colorChange($event,item)"
                     [nzPlaceHolder]="'请选择'" nzAllowClear>
            <nz-option *ngFor="let item of colorList"
                       [nzLabel]="item.name"
                       [nzValue]="item.id">
            </nz-option>
          </nz-select>
          <img *ngIf="item.colorImg&&showImg" style="width: 50px;" [src]="item.colorImg" alt="">
        </td>
        <td>
          <nz-select [(ngModel)]="item.lineId" (modelChange)="lineChange($event,item)"
                     [nzPlaceHolder]="'请选择'" nzAllowClear>
            <nz-option *ngFor="let item of lineList"
                       [nzLabel]="item.name"
                       [nzValue]="item.id">
            </nz-option>
          </nz-select>
          <img *ngIf="item.lineImg&&showImg" style="width: 50px;" [src]="item.lineImg" alt="">
        </td>
        <td class="input2">
          <input type="number" [(ngModel)]="item.lineLength" placeholder="">
          =
          <input type="number"  [(ngModel)]="item.lineSum" (ngModelChange)="sumChange()" placeholder="">
        </td>
        <td>
          <textarea style="width: 100%; border: none;" [(ngModel)]="item.mark" placeholder=""></textarea>
        </td>
        <td class="operation">
          <span (click)="copyAdd(item)">复制添加</span>
          <span (click)="delDoor(item,i)">删除</span>
        </td>
      </tr>
      <tr>
        <td>总计：</td>
        <td colspan="11" class="statistics">
          门扇：
          <input type="number" [(ngModel)]="ticket.sumDoor" placeholder="">
          <b>个</b>
          套板：
          <input type="number" [(ngModel)]="ticket.sumTaoban" placeholder="">
          <b>块</b>
          线条：
          <input type="number" [(ngModel)]="ticket.sumLine" placeholder="">
          <b>支</b>
        </td>
      </tr>
    </table>
  </div>
</div>
