<div class="addUser viewBox">
  <div class="zwSearch">
    <div class="left">
      <span>{{title}}</span>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="viewMain">
    <div class="addFrom">
      <div>
        <span>名称：</span>
        <nz-input [(ngModel)]="color.name"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <div>
        <span>图片：</span>
        <app-cropper-img [cpImg]="color.img" [boxStyle]="{width:200,height:200}"
                         (saveEnd)="imageChange($event)"></app-cropper-img>
      </div>
      <div>
        <span>颜色值：</span>
        <nz-input [(ngModel)]="color.value"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <br>
      <button (click)="save()" nz-button nzType="primary">保存</button>
    </div>
  </div>
</div>


