<div class="clientList viewBox">
  <div class="zwSearch">
    <div>
      <nz-rangepicker [(ngModel)]="search"
                      [nzFormat]="'YYYY年MM月DD日'"
                      [nzPlaceholder]="['Select start date', 'Select end date']"
                      >

      </nz-rangepicker>
      <button (click)="getList()" nz-button nzType="primary">搜索</button>
    </div>
    <div class="right">
      <!--<el-button *ngIf="userType!=2" (click)="add()" size="mini" type="primary">添加</el-button>--></div>
  </div>
  <div class="viewMain">
    <nz-spin *ngIf="loading" [nzTip]="'拼命加载中...'" [nzSize]="'large'">
    </nz-spin>
    <div class="noData" *ngIf="!list.length">
      <span>没有数据...</span>
    </div>
    <table class="zwTable">
      <tr>
        <th>姓名</th>
        <th>工序</th>
        <th>时间段</th>
        <th>工资</th>
      </tr>
      <tr *ngFor="let item of list let i=index">
        <td>{{item.user.name}}</td>
        <td>{{item.user.type}}</td>
        <td>{{startTime| date:'yyyy年MM月dd日'}}
          <span style="color: #c00;">—</span>
        {{endTime| date:'yyyy年MM月dd日'}}</td>
        <td>{{item.price}}（元）</td>
      </tr>
    </table>
    <div class="pageBox">
      <nz-pagination [(nzPageIndex)]="pageNum" [nzTotal]="total"
                     [(nzSize)]="pageSize" (click)="getList()"
                     nzShowQuickJumper nzShowTotal>

      </nz-pagination>
    </div>
  </div>
</div>


