<div class="lineDoor viewBox">
  <div class="zwSearch">
    <div class="left">
      <span>{{title}}</span>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="viewMain">
    <div class="addFrom">
      <div>
        <span>名称：</span>
        <nz-input [(ngModel)]="line.name"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <div>
        <span>图片：</span>
        <app-cropper-img [cpImg]="line.img" [boxStyle]="{width:200,height:200}"
                         (saveEnd)="imageChange($event)"></app-cropper-img>
      </div>
      <div>
        <span>颜色值：</span>
        <nz-input [(ngModel)]="line.value"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <div>
        <span>添加工序：</span>
        <ul class="ulBox">
          <li *ngFor="let item of gxList let i=index">
            <label nz-checkbox [(ngModel)]="item.active">
              <span>{{item.name}}</span>
            </label>
            <nz-input [(ngModel)]="item.price"
                      [nzSize]="'large'" placeholder="请输入"></nz-input>
          </li>
        </ul>
      </div>
      <br>
      <button (click)="save()" nz-button nzType="primary">保存</button>
    </div>
  </div>
</div>


