<div class="detailComponent viewBox">
  <div class="zwSearch">
    <div class="left">
      <span>{{title}}</span>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="viewMain">
    <div class="deatlBox">
      <div>
        <span>登录名：</span>
        <b>{{data.loginName}}</b>
      </div>
      <div>
        <span>名字：</span>
        <b>{{data.name}}</b>
      </div>
    </div>
    <div class="addFrom">

      <div>
        <span>旧密码：</span>
        <nz-input [(ngModel)]="user.password"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>

      </div>
      <div>
        <span>新密码：</span>
        <nz-input [(ngModel)]="user.newPassword"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <div>
        <span>再次输入：</span>
        <nz-input [(ngModel)]="user.rPassword"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <br>
      <button (click)="save()" nz-button nzType="primary">保存</button>
    </div>


  </div>
</div>s
