<div class="addDoor viewBox">
  <div class="zwSearch">
    <div class="left">
      <span>{{title}}</span>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="viewMain">
    <div class="addFrom">
      <div>
        <span>公司名称：</span>
        <nz-input [(ngModel)]="component.name"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <div>
        <span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
        <nz-input [(ngModel)]="component.address"
                  [nzSize]="'large'" placeholder="请输入"></nz-input>
      </div>
      <div>
        <span>添加logo：</span>
        <app-cropper-img [cpImg]="component.img" [boxStyle]="{width:400,height:100}"
                         (saveEnd)="imageChange($event)"></app-cropper-img>
      </div>
      <br>
      <button (click)="save()" nz-button nzType="primary">保存</button>
    </div>
  </div>
</div>

